<% if(locals.speciesName) { %>
    <div class="main-container">
      <h1 class="main-title"><%= speciesName %></h1>
      <h3 class="main-description"><%= speciesDescription %></h3>
    </div>
<%} else {%>
  <div class="main-container home">
    <h1 class="main-title">Cats or Dogs?</h1>
    <h3 class="main-description">Choosing the perfect pet is a big decision—and for many animal lovers, it comes down to one classic debate: cats or dogs? From the independent charm of a purring feline to the loyal companionship of a tail-wagging pup, both animals bring something special into our lives. On this website, we explore the personalities, care needs, lifestyles, and unique qualities of each to help you decide which companion might be the better fit for your home and heart. Whether you're a lifelong pet owner or considering your first furry friend, join us as we dive into the age-old question: are cats or dogs better pets?</h3>
  </div>
<%}%>